<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pass Tense Smartwatch{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <style>
      .ui.inverted.purple.menu .header.item img {
      padding-right: 10px;
      }
      body {
        background-color: #363535;
      }
      .ui.inverted.purple.menu {
        background-color: #8c4c9c;
      }
      .ui.inverted.purple.menu .header.item span {
        color: #8cf5e3;
      }
    </style>
  </head>
  <body>
    <div class="ui inverted purple menu">
      <div class="header item">
        <img src="/static/logo.png" alt="Logo">
        <span>Pass-Tense</span>
      </div>
        <a href="/" class="item">Home</a>
        <a href="/about" class="item">About Us</a>
        <a href="/dashboard" class="item">Dashboard</a>
        <div class="right menu">
            <a href="/login" class="item">Login</a>
      </div>
    </div>
    <div class="ui container">
      {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </body>
</html>