{% extends "base.html" %}

{% block content %}

<div class="ui grid mt-5 centered">
  <div class="eight wide column">
    <div class="ui segment text-center center aligned">
      <div class="ui container">
        <img src="static/logo-large.png" alt="Logo">
      </div>
      <div class="ui container left aligned">
        <h2>Welcome to Pass-Tense</h2>
        <p>Pass-Tense is a smartwatch designed to help you manage your stress and improve your overall well-being. Our goal is to provide you with the tools you need to stay calm and focused throughout your day.</p>
        <div class="ui container center aligned">
          <a href="/about" class="ui button teal center aligned">Learn More..</a><a href="/register" class="ui button teal center aligned">Register Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
